<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Commonaxja.js"></script>    
</head>
<body>
<!--引入公共head-->
<include file="Public/head" /> 


<div class="container clearfix">


<!--引入公共sidebar-->
<include file="Public/left" /> 

    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">医生管理</a><span class="crumb-step">&gt;</span><span>新增医生</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                    
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>医生姓名：</th>
                                <td>
                                    <input class="common-text required" id="name" name="name" size="50" value="" type="text">
                                </td>
                            </tr>
                            
                              <tr>
                                <th><i class="require-red">*</i>医生性别：</th>
                                <td>
                                  <select id="sex" name="sex">
                                  		<option value="">请选择</option>
                                     	<option value="1" selected="selected">男</option>   
                                        <option value="2">女</option>                               		
                                  </select>
                                </td>
                            </tr>  
                           
							<!--选择医院模块-->
                           <tr>
                                <th><i class="require-red">*</i>所属医院：</th>
                                <td>
                                  <select id="uid" name="uid">
                                  		<option value="">请选择</option>
                                  		<volist name="hospitalres" id="vo">
                                     		<option value="{$vo.id}">{$vo.name}</option>                               		
                                  		</volist>
                                  </select>
                                </td>
                            </tr>  
                            <!--选择医院模块-->
                            
                            

                            
       
                                                    
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody>
                   
                        
                        </table>
                        
                </form>
                <br/>
                <div class="crumb-list"><i class="icon-font">&#xe021;</i><span class="crumb-name"> : 模块组合:例如您想创建1个【网络总数据】模块,可以选择开启模块组合,再勾选模块组合中勾选要统计的模块组合(例如可以勾选男科和妇科).</span></div>
            </div>
            
        </div>
        

    </div>
    <!--/main-->
</div>
</body>
</html>