<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
        <style>
        td { position: relative; overflow: hidden; }
         .rotate { display: none; }
        .rotate-wrap p { box-sizing: border-box; width: 50%; float: left; border-right: 1px solid #fff;
            cursor: pointer;}
        .rotate-wrap { position: absolute; bottom: 6px; left: 50%; margin-left: -40%;width: 80%; height: 40px; font-size: 12px; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, .5); color: #fff; }
    
    
    .mask-wrap {
	    height: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.mask {
position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
}
    
    
    </style>
</head>
<body>
<!--引入公共head-->
<include file="Public/head" /> 


<div class="container clearfix">


<!--引入公共sidebar-->
<include file="Public/left" /> 

    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">审核中列表</span></div>
        </div>
        <div class="search-wrap">
          <div class="search-content">
                <form  action="__CONTROLLER__/search" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="输入内容" name="name" value="" id="" type="text"></td>
                            <td>
                            	<select name="model" class="common-select">
                                	<option   value="1">编号查询</option>
                                	<option   value="2">用户查询</option>
                                </select>
                            </td>                            
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post" action="__CONTROLLER__/sort">
                <div class="result-title">
                    <div class="result-list">


                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab"  id="tab-list" width="100%">
                        <tr>


							<th>编号</th>
                            <th>办事处</th>
                            <th>地点</th>
                            <th>问题</th>
                            <th>整改前图片</th>
                            <th>整改后图片</th>
                            <th>已整改次数</th>
                            <th>创建用户</th>
                            <th>创建时间</th>
                            <th>整改时间</th>
                            <th>操作</th>
                        </tr>
                        
                        <volist name="list" id="vo">
                        
                        <tr>
                            <td  width="7%">
								<{$vo.order}>
                            </td>
                            <td  width="7%"><{$vo.office}></td>
                            <td  width="7%"><{$vo.place}></td>
                            <td  width="10%" >
          <?php 
        
        $str=$vo['question'];
        
        $newstr = substr($str,0,strlen($str)-1); 
        

        
        $hello = explode('#',$newstr);
        
        
        for($i=0;$i<count($hello);$i++){
        ?>
		
        问题<?php echo $i+1;  ?>：<?php   echo $hello[$i].'<br/>';     ?>
        
        <?php
        }
        ?>
                            </td>
                            
                            <td width="15%"><img style="width:100%;height:300px;" src="<{$vo.firstimg}>"></td>
                            <td width="15%"><img style="width:100%;height:300px;" src="<{$vo.lastimg}>"></td>
                            
                                    <td  width="7%"><{$vo.cishu}></td>                    <td  width="7%"><{$vo.adduser}></td>
                            <td  width="7%"><?php   echo  date('Y-m-d',$vo['addtime']);   ?></td>
                            <td width="7%"><?php  echo date('Y-m-d',$vo['lasttime']);   ?></td>
                      
                            <td width="10%">
                                <a class="link-update" href="__CONTROLLER__/edit/id/<{$vo.id}>">查看详情</a>
                                <a class="link-del" onClick="return confirm('你确定要删除吗?')"href="__CONTROLLER__/del/id/<{$vo.id}>">删除</a>
                            </td>
                        </tr>
					   </volist>
                    </table>
                   <div class="list-page"><{$page}></div>
<div class="crumb-list"><i class="icon-font">&#xe021;</i><span class="crumb-name"> :清洁人员已经反馈的申请,等待后台或检查人员的审核</span></div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>

<script>
    var html = '<div class="rotate-wrap"><p class="ni">逆时针</p><p class="shun">顺时针</p></div>';
    var imgs = document.getElementById('tab-list').getElementsByTagName('img');
    var speed = 90;
    for (var i=0; i<imgs.length; i++) {
        var rotate = document.createElement('div');
        rotate.className = 'rotate';
        rotate.innerHTML = html;
        imgs[i].parentNode.appendChild(rotate);
        imgs[i].parentNode.onmouseenter = function (e) {
            var ele = this.getElementsByClassName('rotate')[0];
            ele.style.display = 'block';
        };
        imgs[i].parentNode.onmouseleave = function (e) {
            var ele = this.getElementsByClassName('rotate')[0];
            ele.style.display = 'none';
        };
        var shun =  imgs[i].parentNode.querySelector('.shun');
        var ni =  imgs[i].parentNode.querySelector('.ni');

        shun.onclick = function (e) {
            var img = this.parentNode.parentNode.parentNode.querySelector('img');
            speed += 90;
            img.style.webkitTransform = 'rotate('+ speed +'deg)';
        }
        ni.onclick = function (e) {
            var img = this.parentNode.parentNode.parentNode.querySelector('img');
            speed -= 90;
            img.style.webkitTransform = 'rotate('+ speed +'deg)';
        }
    }
	
	
	
var td = document.querySelectorAll('td');
for (var i=0; i<td.length; i++) {
	
	if (td[i].querySelector('img')) {
		td[i].querySelector('img').onclick = function(e) {
            var dom = '<div class="mask"><div class="mask-wrap"><div class="mask-content"><img src="'+ this.src +'"></div></div></div>';
            var div = document.createElement('div');
            div.innerHTML = dom;
			div.onclick = function(e) {
	
			document.body.removeChild(div);
};

            document.body.appendChild(div);
		}
	}
}
	
</script>

</body>
</html>