<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<!--引入公共head-->
<include file="Public/head" /> 


<div class="container clearfix">


<!--引入公共sidebar-->
<include file="Public/left" /> 

    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="__MODULE__/Index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">医院列表</span></div>
        </div>
        <div class="search-wrap">
          <div class="search-content">
                <form  action="__CONTROLLER__/search" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="name" value="" id="" type="text"></td>
                            <td>
                            	<select name="model" class="common-select">
                                	<option   value="1">精确查找</option>
                                	<option   value="2">模糊查找</option>
                                </select>
                            </td> 
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post" action="__CONTROLLER__/Index/sort/1/">
                <div class="result-title">
                    <div class="result-list">
                        <a href="__CONTROLLER__/add"><i class="icon-font"></i>新增医院</a>
                       <!-- <a id="batchDel" style="" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>-->
                        <a id="updateOrd" onclick="document.getElementById('myform').submit();"><i class="icon-font"></i>更新排序</a>
                        
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>

                            <th>首页排序</th>
                            <th>医院名称</th>
                            <th>医院网址</th>
                            <th>关联表</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                        
                        <volist name="list" id="vo">
                        
                        <tr>
                            
                            <td width="5%">
                                <input class="common-input sort-input" name="{$vo.id}" value="{$vo.sort}" type="text">
                            </td>
                            <td ><a href="#">{$vo.name}</a></td>
                            <td >{$vo.website}</td>
                            <td >think_patient{$vo.id}[数据库中的表]</td>
                            <td >{$vo.addtime|date="Y-m-d H:m:s",###}</td>
                            <td width="10%">
                                <a class="link-update" href="__CONTROLLER__/edit/id/{$vo.id}">修改</a>
                                <a class="link-del" onClick="return confirm('警告:你确定要删除{$vo.name}吗?')"href="__CONTROLLER__/del/id/{$vo.id}">删除</a>
                            </td>
                        </tr>
					   </volist>
                    </table>
                   <div class="list-page">{$page}</div>
<div class="crumb-list"><i class="icon-font">&#xe021;</i><span class="crumb-name"> : 医院信息单独删除不会删除到诊信息,需要完全删除请使用医院初始化.</span></div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>