			<ul class="list-group">
    		<li class="list-group-item active">在线用户<span  class="glyphicon glyphicon-fire pull-right"></span></li>
    		<li class="list-group-item"><a href="">392223903 <span style="float:right;" class="glyphicon glyphicon-comment"></span> </a> </li>
    		<li class="list-group-item"><a href="">737394322 <span style="float:right;" class="glyphicon glyphicon-comment"></span></a></li>
    		<li class="list-group-item"><a href="">302979577 <span style="float:right;" class="glyphicon glyphicon-comment"></span></a></li>            
            </ul>
        
        
        
        
	<ul class="list-group">
    <li class="list-group-item active">到诊捷报<span  class="glyphicon glyphicon-signal pull-right"></span></li>
 
    <li class="list-group-item">
        <span class="badge">新</span>
        恭喜安康贺晓到诊1人
    </li>
    
    <li class="list-group-item">
        <span class="badge">新</span>
        恭喜达州张月娟到诊1人
    </li>    
    
    <li class="list-group-item">
        <span class="badge">新</span>
        恭喜安康银青到诊1人
    </li>
</ul>