<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Commonaxja.js"></script>    
</head>
<body>
<!--引入公共head-->
<include file="Public/head" /> 


<div class="container clearfix">


<!--引入公共sidebar-->
<include file="Public/left" /> 

    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">系统设置</a><span class="crumb-step">&gt;</span><span>基本设置</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                    
                        <tbody>
                        
                            <tr>
                                <th><i class="require-red">*</i>系统名称：</th>
                                <td>
                                    <input class="common-text required" id="name" name="name" size="50" value="" type="text">
                                </td>
                            </tr>
                            
                            
                            <tr>
                                <th><i class="require-red">*</i>描述信息：</th>
                                <td>
                                    <input class="common-text required" id="name" name="desc" size="50" value="" type="text">
                                </td>
                            </tr>                            
                            
                            
                              <tr>
                                <th><i class="require-red">*</i>注册开关：</th>
                                <td>
                                  <select id="sex" name="sex">
                                  		<option value="">请选择</option>
                                     	<option value="1" selected="selected">开启注册</option>   
                                        <option value="2">关闭注册</option>                               		
                                  </select>
                                  (默认开启,但是注册成功后需要管理员审核.)
                                </td>
                            </tr> 
                            
                            
                              <tr>
                                <th><i class="require-red">*</i>登陆日志：</th>
                                <td>
                                  <select id="sex" name="sex">
                                  		<option value="">请选择</option>
                                     	<option value="1" selected="selected">开启记录</option>   
                                        <option value="2">关闭记录</option>                               		
                                  </select>
                                  (默认开启,统计每位用户的登录记录.)
                                </td>
                            </tr>   
                            
                            
                              <tr>
                                <th><i class="require-red">*</i>硬件验证：</th>
                                <td>
                                  <select id="sex" name="sex">
                                  		<option value="">请选择</option>
                                     	<option value="1" selected="selected">开启功能</option>   
                                        <option value="2">关闭功能</option>                               		
                                  </select>
                                  (默认开启,每位员工只能通过已经绑定的MAC地址对应的电脑进行登录.)
                                </td>
                            </tr> 
                            

                                                    
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="保存" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody>
                   
                        
                        </table>
                        
                </form>

               
            </div>
            
        </div>
        

    </div>
    <!--/main-->
</div>
</body>
</html>