<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Commonaxja.js"></script>    
</head>
<body>
<!--引入公共head-->
<include file="Public/head" /> 


<div class="container clearfix">


<!--引入公共sidebar-->
<include file="Public/left" /> 

    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">系统设置</a><span class="crumb-step">&gt;</span><span>安全设置</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                    
                        <tbody>
                        
                            <tr>
                                <th><i class="require-red">*</i>后台超时时间：</th>
                                <td>
                                    <input class="common-text required" id="name" name="name" size="50" value="" type="text">(单位时间:s)
                                </td>
                            </tr>
                            
                            <tr>
                                <th><i class="require-red">*</i>前台超时时间：</th>
                                <td>
                                    <input class="common-text required" id="name" name="name" size="50" value="" type="text">(单位时间:s)
                                </td>
                            </tr>
                            
                            <tr>
                                <th><i class="require-red">*</i>强制退出设置：</th>
                                <td>
                                    <input type="checkbox" name="qzsafe[]" value="1">UA更换                                    <input type="checkbox" name="qzsafe[]" value="2">IP更换
                                </td>
                            </tr>

                            

                           

                            
                            

                            
       
                                                    
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="保存" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody>
                   
                        
                        </table>
                        
                </form>

               
            </div>
            
        </div>
        

    </div>
    <!--/main-->
</div>
</body>
</html>